section.main-page
  .wrapper
    .main-page__inner
      .main-page__decor
        img(src="images/ball.png" loading="lazy" alt="ball" width="562" height="589").d-block
      .main-page__decor-2
        img(src="images/ball-2.png" loading="lazy" alt="ball" width="668" height="676").d-block
      .main-page__decor-3
        img(src="images/box.png" loading="lazy" alt="box" width="424" height="357").d-block
      .main-page__photo
        img(src="images/photo.png" loading="lazy" alt="photo" width="1025" height="1637").d-block
      .main-page__container
        .main-page__title С Днём Рождения Вас !!!
        .main-page__description Моя самая родная и неповторимая мамочка, поздравляю тебя 
          br
          |С Днём Рождения!!! 
          br
          |Пусть в твоей жизни будет больше поводов для радости. Пусть в твоих глазах будет больше счастья, 
          |пусть на твоем лице всегда будет улыбка. Оставайся всегда здоровой и молодой, красивой и самой лучшей. 
          |Мне не хватит всех слов, чтобы выразить, как я тебя люблю и как благодарен за всё. 
          br
          |Я тебя очень люблю!
          span твой любящий сыночек Али.
      .main-page__swiper.swiper-main
        .main-page__swiper-wrapper.swiper-wrapper
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-1.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-2.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-3.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-4.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-5.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-6.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-7.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-8.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-9.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block
          .main-page__swiper-slide.swiper-slide
            img(src="images/swiper-photo-10.jpg" loading="lazy" alt="photo" width="959" height="1280").d-block