@import 'common/variables'
@import 'common/*'
@import 'components/*'

.page
  display: flex
  flex-direction: column
  min-height: 100%
  background: linear-gradient(1deg, #f7ace9 6.35%, #f5daff 95.67%);

  &__content
    flex: 1
