.wrapper
  max-width: 320px
  margin: 0 auto
  padding-left: 5px
  padding-right: 5px
  width: 100%
  +above($breakpoints.xs)
    max-width: 770px

.d-none
  display: none

.d-xs-none
  +above($breakpoints.xs)
    display: none

.d-block
  display: block

.d-xs-block
  +above($breakpoints.xs)
    display: block
