$base-font-family = "Roboto"

$breakpoints = {
  xs: 576px,
  sm: 768px,
  md: 1024px,
  lg: 1200px
}

$color-primary = #00CC00
$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #FA8C16
$color-dark = #15161A
$color-white = #FFFFFF
$color-gray = #999999
$color-white-gray= #F7F7F7
$color-white-gray = #F0F0F0
$color-blue = #001c68
$color-ligth-blue = #0b3b82
$color-white-blue = #1890FF
$color-white-blue-sec = #23AAF7
$color-bright-blue = #00CCFF
$color-light-blue = #E6F7FF
